body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    margin-top: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: white;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product .price {
    font-weight: bold;
}

.cart-summary {
    margin-top: 20px;
    text-align: center;
}

/* Стили для списка товаров в корзине */
#cart-list {
    list-style: none;
    padding: 0;
}

#cart-list li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
}

#cart-list li img {
    width: 50px; /* Размер изображения */
    height: auto;
    margin-right: 10px;
    vertical-align: middle; /* Выравнивание по вертикали */
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.balance {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}