    body {
            font-family: sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f8f9fa;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }
        
        ul {
            list-style: none;
            padding: 0;
        }
        
        li {
            margin-bottom: 10px;
            padding: 15px;
            border: 1px solid #e0e0e0;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        }
        
        button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.2s ease;
        }
        
        button:hover {
            background-color: #0056b3;
        }
        
        p {
            margin: 10px 0;
            font-size: 1.1em;
            color: #555;
        }
        
        a {
            display: block;
            text-align: center;
            margin-top: 20px;
            color: blue;
            text-decoration: none;
            transition: color 0.2s ease;
        }
        
        a:hover {
            text-decoration: underline;
            color: #0056b3;
        }
        
        #cart-info {
            margin-top: 30px;
            padding: 20px;
            border: 1px solid #c0c0c0;
            background-color: #f9f9f9;
            border-radius: 12px;
            text-align: center;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
            width: 300px;
        }
        
        #cart-info p {
            margin: 8px 0;
            font-size: 1.2em;
            color: #333;
        }
        
        #checkout-button {
            color: green;
            background-color: green;
            color: white;
            border: none;
            padding: 12px 20px;
            cursor: pointer;
            border-radius: 6px;
            font-size: 1.3em;
            display: block;
            margin: 25px auto;
            transition: background-color 0.2s ease;
        }
        
        #checkout-button:hover {
            background-color: #1e7e34;
        }

        body {
    font-family: Arial, sans-serif;
    background-color: ;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    color: red;
    padding: 20px;
}

p {
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}


nav ul li a:hover {
    color: #ff6347;
    /* Цвет при наведении */
}

.project-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.project {
    position: relative;
    width: 300px;
}

.project img {
    width: 100%;
}